body {
    font: 10pt sans-serif;
    background: #5e133c;
}

div#content {
    background: #ffffff;
    width: 95%;
    height: 100vh;
    max-width: 1280px;
    margin: auto;
    padding: 20px;
}

div.receipthead {
    text-align: center;
}

div.ticketitem {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding-bottom: 20px;
}

table.receiptdata {
    border: 0px;
    width: 90%;
    max-width: 900px;
    margin: auto;
}

td.left {
    text-align: left;
}
td.right {
    text-align: right;
}
td.long-right {
    text-align: right;
    width: auto;
}

span.entree {
    font-weight: bolder;
}

span.price {
    font-weight: bold;
}