body {
    font-family: sans-serif;
    background: #5e133c;
}

div#content {
    background: #ffffff;
    width: 95%;
    height: 100vh;
    max-width: 1280px;
    margin: auto;
    padding: 20px;
}

div.receipthead {
    text-align: center;
}

div.ticketitem {
    width: 90%;
    max-width: 900px;
    margin: auto;
    padding-bottom: 20px;

    display: flex;

    font-size: 1.135em;
}

div.itemdesc {
    flex-grow: 3;
}

div.itemprice {
    flex-grow: 1;
    text-align: right;
}

table.receipttotal {
    border: 0px;
    width: 90%;
    max-width: 900px;
    margin: auto;
}

table.receiptdata {
    border: 0px;
    width: 80%;
    max-width: 850px;
    margin: auto;
    
    font-size: 0.925em;
    font-family: monospace;
}

td.left {
    text-align: left;
}
td.right {
    text-align: right;
}
td.long-right {
    text-align: right;
    width: auto;
}

span.entree {
    font-weight: bolder;
}

span.mod {
    margin-left: 2.125em;
    font-style: italic;
}

span.price {
    font-weight: bold;
}