<!DOCTYPE html>
<html>
<head>
<title>{{ page_title }}</title>
{%- for style in styles -%}
<link rel="stylesheet" href="{{ style }}">
{%- endfor -%}
</head>
<body>
<div id="content">

<div class="receipthead">
<h2>Nicole's Erratic Cafe</h2>
<h3>Breaking Internets and Feeding Errors, 24 Hours A Day!</h3>
</div>
{%- set receiptglobals = {"subtotal": 0.0, "total": 0.0} -%}

{%- for itemgrp in order_items -%}
{%- set item = itemgrp[0] -%}
{%- set price = itemgrp[1] -%}
<div class="ticketitem">
{%- set itemlines = item.split("\n") -%}
<div class="itemdesc">
<span class="entree">{{ itemlines[0] }}</span>
{#- YMBT: "or ''"? What's that supposed to mean?
 #        Jinja2 does not have native syntax to just call a function. The output of that function
 #        must be considered even if it's None (which leads to a lot of little Nones being
 #        peppered all over the output). However, Jinja2 won't output None if given an or with a
          string (for instance, '').
 #
 #        If you're comfortable with shell scripts, this effectively acts like `> /dev/null`.
-#}
{%- if itemlines|length > 1 -%}
{%- for line in itemlines[1:] -%}
<br /><span class="mod">{{ line }}</span>
{%- endfor -%}
{%- endif -%}
</div>
<div class="itemprice"> <span class="price">{{ currency }}{{ price }}</span> </div>
{{ receiptglobals.update({"subtotal": receiptglobals["subtotal"] + price}) or '' }}
</div>
{%- endfor -%}

<div class="receipttotal">
{{ receiptglobals.update({"total": receiptglobals["subtotal"]}) or '' }}
<table class="receipttotal">
    <tr>
        <td class="long-right"><strong>Subtotal:</strong></td>
        <td class="right"><strong>{{ currency }}{{ receiptglobals["subtotal"] }}</strong></td>
    </tr>
    {%- set tax = taxesfees["tax"] -%}
    {%- set fees = taxesfees["fees"] -%}
    {%- set taxamt = receiptglobals["subtotal"] * (tax / 100) -%}
    <tr>
        <td class="long-right">Sales Tax ({{ tax }} %):</td>
        <td class="right">{{ currency }}{{ "%0.2f" % taxamt }}</td>
    </tr>
    {{ receiptglobals.update({"total": receiptglobals["total"] + taxamt}) or '' }}
    {%- for fee in fees -%}
    {%- set fee_type = fee[0] -%}
    {%- set is_rate = fee[1][0] -%}
    {%- if is_rate -%}
    {%- set fee_rate = fee[1][1] -%}
    {%- set feeamt = receiptglobals["subtotal"] * (fee_rate / 100) -%}
    <tr>
        <td class="long-right">{{ fee_type }} ({{ fee_rate }} %):</td>
        <td class="right">{{ currency }}{{ "%0.2f" % feeamt }}</td>
    </tr>
    {%- else -%}
    {%- set feeamt = fee[1][1] -%}
    <tr>
        <td class="long-right">{{ fee_type }}:</td>
        <td class="right">{{ currency }}{{ feeamt }}</td>
    </tr>
    {%- endif -%}
    {{ receiptglobals.update({"total": receiptglobals["total"] + feeamt}) or '' }}
    {%- endfor -%}
    <tr>
        <td class="long-right"><h3>Balance Due:</h3></td>
        <td class="right"><h3>{{ currency }}{{ "%0.2f" % receiptglobals["total"] }}</h3></td>
    </tr>
</table>
</div>

<div class="receiptdata">
<table class="receiptdata">
    <tr>
        <td class="left">TXN ID:</td>
        <td class="right">{{ errcode }}</td>
    </tr>
    <tr>
        <td class="left">PAYMENT:</td>
        <td class="right">{{ ["PISA", "ASCIICARD", "UNCOVER", "APEX", "INNERQUAC"] | random }} XXXX XXXX XXXX {{ range(1001, 10000) | random }}</td>
    </tr>
</table>

</div>
</body>
</html>